.kotak{
    color:white;
    text-align: center;
    line-height: 100px;
    float: left;
    
}

.blue{
    background-color: blue;
    height: 300;
    width: 100%;
}

.green{
    background-color: red;
    width: 75%;
    height: 500px;
}

.red{
    background-color:green;
    height: 500px;
    width: 25%;
}

.orange{
    background-color: orange;
    height: 100px;
    width: 100%;
}